@import "./styles/common";

.app {
  @include center(flex, center);
  padding: 30px;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  background-color: $bgPrimary;

  .container {
    width: 700px;
    height: 700px;
    border: 5px solid $bgSecond;
    border-radius: 30px;

    .title {
      @include center(flex, center);
      color: white;
    }

    .tasksContainer {
      @include center(flex, center);
      padding: 10px;

      #todo {
        min-width: 290px;
        padding: 0 12px;
        border: 1px solid white;
        overflow: auto;
        height: 400px;
      }

      #Draggable {
        background: $bgForButtons;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        cursor: col-resize;
        height: 10px;
        width: 15px;
      }

      #Resizable {
        border: 1px solid black;
        height: 200px;
        width: 200px;
      }
    }

  }

  button:hover {
    cursor: pointer;
  }

  ul {
    list-style-position: inside;
    padding: 0;
    width: 100%;
  }

  ul li {
    display: flex;
    align-items: center;
  }

  li::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $bgSecond;
  }
}





